
<% @due2day_lists.each do |due2day_list| %>
  <div class="index_row clearfix">
    <h2 class="due2day_list_title"><%= link_to due2day_list.title, due2day_list %></h2>
    <p class="due2day_list_sub_title"><%= due2day_list.description %></p>
  </div>
<% end %>

<div class="links">
  <%= link_to "New Due 2 Day", new_due2day_list_path %>
</div>
